@import "tailwindcss";

*{
   
    box-sizing: border-box;
  
}
body{
    background-color: rgba(211, 211, 211, 0.364);
}

h1 {
  font-family: 'Fraunces', serif;
}
p{
      font-family: 'Fraunces', serif;
}